
services:
  # Identity Service
  identityservice:
    image: ghcr.io/alarmistt/identityservice:latest
    container_name: identityservice
    env_file:
      - .env
    volumes:
      - ./vertex-ai-key.json:/app/vertex-ai-key.json
    ports:
      - "8089:8089"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - GOOGLE_APPLICATION_CREDENTIALS=/app/vertex-ai-key.json
    restart: unless-stopped

  # Learning Service
  learningservice:
    image: ghcr.io/alarmistt/learningservice:latest
    container_name: learningservice
    ports:
      - "8085:8085"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
    restart: unless-stopped
  
  # Project Service
  projectservice:
    image: ghcr.io/alarmistt/projectservice:latest
    container_name: projectservice
    env_file:
      - .env
    volumes:
      - ./vertex-ai-key.json:/app/vertex-ai-key.json
    ports:
      - "8087:8087"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - KAFKA_BOOTSTRAP_SERVERS=139.59.119.65:9092
      - REDIS_HOST=139.59.119.65
      - REDIS_PORT=6379
      - AWS_ACCESS_KEY=${AWS_ACCESS_KEY}
      - AWS_SECRET_KEY=${AWS_SECRET_KEY}
      - AWS_BUCKET_NAME=${AWS_BUCKET_NAME}
      - GOOGLE_APPLICATION_CREDENTIALS=/app/vertex-ai-key.json
    restart: unless-stopped

  # Order Service
  orderservice:
    image: ghcr.io/alarmistt/orderservice:latest
    container_name: orderservice
    ports:
      - "8083:8083"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - EUREKA_HOST=http://139.59.119.65:8761/eureka/
      - KAFKA_BOOTSTRAP_SERVERS=139.59.119.65:9092
      - REDIS_HOST=139.59.119.65
      - REDIS_PORT=6379
    restart: unless-stopped

  # AI Background Remover Service
  ai-background-remover:
    image: ghcr.io/alarmistt/ai-background-remover:latest
    container_name: ai-background-remover
    ports:
      - "8000:8000"
    restart: unless-stopped
  
