server:
  port: 8085
spring:
  application:
    name: learning-service
  cloud:
    discovery:
      enabled: true

  datasource:
    hikari:
      maximum-pool-size: 5
      minimum-idle: 2
      idle-timeout: 30000
      connection-timeout: 20000
      max-lifetime: 600000
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://34.126.134.243:6432/learningdb}
    username: ${SPRING_DATASOURCE_USERNAME:admin}
    password: ${SPRING_DATASOURCE_PASSWORD:admin}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://139.59.119.65:8090/realms/sketchnote

eureka:
  client:
    enabled: true
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: ${EUREKA_HOST:http://localhost:8761/eureka/}
#  instance:
#    prefer-ip-address: true
#    ip-address: localhost


