server:
  port: 8085

# Gateway configuration for Swagger (PRODUCTION)
gateway:
  url: https://sketchnote.litecsys.com
  learning-path: ""  # Không có prefix, routes trực tiếp /api/learning/**

spring:
  application:
    name: learning-service
  cloud:
    discovery:
      enabled: true

  datasource:
    hikari:
      maximum-pool-size: 5
      minimum-idle: 2
      idle-timeout: 30000
      connection-timeout: 20000
      max-lifetime: 600000
    url: jdbc:postgresql://34.177.90.19:6432/learningdb
    username: admin
    password: admin

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    service-url:
      defaultZone: http://34.177.90.19:8761/eureka/
  instance:
    prefer-ip-address: true
    ip-address: 34.126.98.83

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://34.177.90.19:8090/realms/sketchnote
