server:
  port: 8083
cors:
  allowed-origins: "http://34.126.134.243:8888"
spring:
  application:
    name: order-service
  cloud:
    discovery:
      enabled: true
  datasource:
    hikari:
      maximum-pool-size: 5
      minimum-idle: 2
      idle-timeout: 30000
      connection-timeout: 20000
      max-lifetime: 600000
    url: jdbc:postgresql://34.126.134.243:6432/ordersdb
    username: admin
    password: admin

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect


eureka:
  client:
    service-url:
      defaultZone: http://34.126.134.243:8761/eureka/
  instance:
    prefer-ip-address: true
    ip-address: 34.126.98.83

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://34.126.134.243:8090/realms/sketchnote



